---
---
@import url(https://fonts.googleapis.com/css?family=Poller+One);
@import url(https://fonts.googleapis.com/css?family=Racing+Sans+One);

$dark-magenta: #8b008b;
$body-text-color: #333333;

body {
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  color: $body-text-color;
}
