---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham" description="I am a full-stack Ruby-on-Rails web developer who loves to dabble in anything hardware/software/engineering related." %}
<body>
{% include header.html %}
<div id="home">
    <div class="container">
        <div id="about-me">
            <span class="hello">Hello, I am</span>
            <h1>Rob Graham</h1>
            <h2>Full-Stack Web Developer</h2>
            <hr>
            <img id="profile-picture" src="{{ site.baseurl }}/img/profile_picture.jpg" alt="Rob Graham photo">
            <span class="strap-line">
                In love with <a href="&ndash;" target="_blank">Ruby</a>, but having an affair with
                <a href="http://www.oracle.com/technetwork/java/index.html" target="_blank">Java</a>.
                Converter of coffee into <strong>eCommerce</strong> &ndash; <strong>Business</strong> &ndash;
                <strong>Engineering</strong> solutions.
            </span>

            <nav class="social-media">
                <ul>
                    <li><a class="github" href="https://github.com/altabyte" target="_blank">
                        <i class="fa fa-github"></i>
                    </a></li>
                    <li><a class="twitter" href="https://twitter.com/altabyte" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a class="facebook" href="https://www.facebook.com/rob.uk" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a class="google-plus" href="https://plus.google.com/+RobGrahamAltabyte" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a></li>
                    <li><a class="linkedin" href="https://uk.linkedin.com/in/altabyte" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a></li>
                </ul>
            </nav>
            <div id="summary">
                <p>Hi! I'm Rob, a software engineer and web developer based in Belfast, UK.</p>
                <p>I like to think I have a passion for technology and automation, although my wife
                prefers to use the word &lsquo;obsession&rsquo;.</p>
            </div>
        </div>
    </div>

    <section id="things-i-do" class="container">
        <h1>Some of the things I do...</h1>

        <div class="lists">
            <ul class="technologies">
                <li>Ruby on Rails</li>
                <li>Java</li>
                <li>Linux</li>
                <li>PostgreSQL</li>
                <li>MySQL</li>
                <li>MongoDB</li>
                <li>Redis</li>
                <li>Heroku</li>
            </ul>

            <ul class="roles">
                <li>Business Intelligence</li>
                <li>Business Development</li>
                <li>eCommerce</li>
                <li>System Architecture</li>
                <li>Database Design</li>
                <li>Programming</li>
                <li>Web Development</li>
                <li>Responsive Design</li>
                <!--li>Marketing</li-->
            </ul>
        </div>

        <ul id="logos">
            <li>
                {% include logo_ruby.svg %}
                <p>Ruby</p>
            </li>
            <li>
                {% include logo_java.svg %}
                <p>Java</p>
            </li>
            <li>
                {% include logo_linux_penguin.svg %}
                <p>Linux</p>
            </li>
            <li>
                {% include logo_postgresql.svg %}
                <p>Databases</p>
            </li>
        </ul>
    </section>
</div>

{% include footer.html %}
</body>
</html>