---
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham" %}
<body>
{% include header.html %}
<div id="home">
    <div class="container">
        <div id="about-me">
            <span class="hello">Hello, I am</span>
            <h1>Rob Graham</h1>
            <h2>Full-Stack Web Developer</h2>
            <hr>
            <span class="strap-line">
                In love with <a href="&ndash;" target="_blank">Ruby</a>, but having an affair with <a href="http://www.oracle.com/technetwork/java/index.html" target="_blank">Java</a>. Converter of coffee into eCommerce &ndash; Business &ndash; Engineering solutions.
            </span>

            <nav class="social-media">
                <ul>
                    <li><a class="github" href="https://github.com/altabyte" target="_blank">
                        <i class="fa fa-github"></i>
                    </a></li>
                    <li><a class="twitter" href="https://twitter.com/altabyte" target="_blank">
                        <i class="fa fa-twitter"></i>
                    </a></li>
                    <li><a class="facebook" href="https://www.facebook.com/rob.uk" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a></li>
                    <li><a class="google-plus" href="https://plus.google.com/+RobGrahamAltabyte" target="_blank">
                        <i class="fa fa-google-plus"></i>
                    </a></li>
                    <li><a class="linkedin" href="https://uk.linkedin.com/in/altabyte" target="_blank">
                        <i class="fa fa-linkedin"></i>
                    </a></li>
                </ul>
            </nav>
        </div>
        <div id="profile-bubbles">
            <img src="{{ site.baseurl }}/img/profile_picture.jpg">
            <p>
                Hello, my name is Rob Graham and I am a full stack web developer based in Belfast.
            </p>
        </div>

    </div>
</div>

{% include footer.html %}
</body>
</html>