---
permalink: portfolio/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham’s Portfolio" description="A showcase of some of the projects I have worked on in the past few years." %}
<body>
{% include header.html %}

<div id="portfolio">
    <div class="container">
        <h1 class="page-title"><strong>Rob&nbsp;Graham</strong> My&nbsp;Portfolio</h1>
        <section>
            <h1>Windshield Modeller</h1>
            Windshield modeller is a CAD application to calculate the thermal and optical performance of automotive
            windshields.
        </section>
    </div>
</div>

{% include footer.html %}
</body>
</html>