---
permalink: resume/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham’s CV" description="A brief history of my working career." %}
<body>
{% include header.html %}

<div id="resume">
    <div class="container">
        <h1 class="page-title"><strong>Rob&nbsp;Graham</strong> My&nbsp;Resume</h1>
        <article>
            <h2>Second Magenta</h2>
            I have been working on a contract basis for <a href="http://altabyte.github.io/second-magenta/" target="_blank">Second Magenta</a> since 2005.
        </article>
    </div>
</div>

</body>
</html>
