---
permalink: resume/
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham’s CV" description="A brief history of my working career." %}
<body>
{% include header.html %}

<div id="resume">
    <div class="container">
        <h1 class="page-title"><strong>Rob&nbsp;Graham</strong> My&nbsp;Resume</h1>

        <section id="tantric-tokyo">
            <h1><span class="date">2007 - {{ site.time | date: '%Y' }}</span> Tantric Tokyo</h1>
            <p>

            </p>
        </section>

        <section id="second-magenta">
            <h1><span class="date">2007 - {{ site.time | date: '%Y' }}</span> Second Magenta</h1>
            Since 2005 I have been working on a part-time basis for <a href="http://altabyte.github.io/second-magenta/" target="_blank">Second Magenta</a>.
        </section>

        <section id="coder-dojo">
            <h1><span class="date">2000 - 2001</span> Coder Dojo</h1>

        </section>

        <section id="epis">
            <h1><span class="date">2006 - 2007</span> EPIS Entrepreneur</h1>
            <p>

            </p>
        </section>

        <section id="spiral-gateway">
            <h1><span class="date">2004 - 2006</span> Spiral Gateway</h1>
            <p>

            </p>
        </section>

        <section id="ip-shells">
            <h1><span class="date">2001 - 2004</span> IP Shells</h1>
            <p>
                IP Shells was proof-of-concept project by The University of Edinburgh to develop a <strong>cloud platform</strong>,
                back in the days before &ldquo;the cloud&rdquo; was cool!
            </p>
            <p>
                Here I designed and developed a prototype <abbr title="Enterprise Java">J2EE</abbr> solution allowing
                microchip manufacturers to design and test virtual digital circuits using the resources of a remote server farm.
                The server farm hosted both the <abbr title="Computer Aided Design">CAD</abbr> tool suites and the
                <abbr title="Intellectual Property">IP</abbr> Verilog/VHDL code libraries necessary to build and test
                advanced <abbr title="Digital Signal Processing">DSP</abbr> applications.
            </p>
            <p>
                A bespoke Java Swing <abbr title="User Interface">UI</abbr> allowed chip designers to drag and drop
                high-level circuit blocks and perform integration tests, but the source code remained securely protected on the server.
                This novel approach enabled vendors, such as mobile phone manufactures, to validate the functionality of the
                circuit modules, whilst protecting the source code of these modules until a purchasing decision was made.
            </p>
            <p>
                This revolutionary <abbr title="Electronic Design Automation">EDA</abbr> deployment solution
                won the backing of a
                <a href="https://www.gov.uk/guidance/innovation-get-details-about-innovate-uk-funding-competitions#smart" target="_blank">SMART</a>
                Award and a <a href="http://www.scotsman.com/business/companies/tech/chip-grant-for-ip-shells-1-1291152" target="_blank">£500,000 grant</a>
                from the Engineering and Physical Sciences Research Council.

            </p>
        </section>

        <section id="researcher">
            <h1><span class="date">2000 - 2001</span> Research Associate</h1>
            <p>
                After graduating, I was offered a research position at
                <a href="https://www.eng.ed.ac.uk/research/institutes/imns" title="Institute for Integrated Micro and Nano Systems">IMNS</a>
                in The University of Edinburgh. In this role I enhanced an <abbr title="Artificial Intelligence">AI</abbr> application using heuristics and
                <a href="http://uk.mathworks.com/discovery/genetic-algorithm.html">Genetic Algorithms</a> to enhance automated testing of
                <abbr title="Printed Circuit Boards">PCB</abbr>s using <a href="https://en.wikipedia.org/wiki/C_(programming_language)" title="C Programming Language">C</a>
                and <a href="https://common-lisp.net/" title="Common Lisp">Lisp</a>. The resulting work was
                <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=937972" title="Rule evolution in order based diagnostic systems" target="_blank">published</a>
                in Proceedings Third NASA/DoD Workshop on Evolvable Hardware.
            </p>
        </section>

        <section id="education">
            <h1>Education</h1>
            <details>
                <summary>Masters Degree in Electronic &amp; Software Engineering</summary>
                <p>2005 - The University of Edinburgh</p>
            </details>
            <details>
                <summary>Degree in Electrical &amp; Electronic Engineering</summary>
                <p> 2005 - The University of Edinburgh</p>
            </details>
            <details>
                <summary>Diploma in Electrical &amp; Mechanical Engineering</summary>
                <p>1995 - Northern Regional College</p>
            </details>
        </section>
    </div>
</div>

{% include footer.html %}
</body>
</html>
