---
permalink: resume/
sg_start: Time.new('2009-09-09')
---
<!DOCTYPE html>
<html lang="en">
{% include head.html title="Rob Graham’s CV" description="A brief history of my working career." %}
<body>
{% include header.html %}

<div id="resume">
    <div class="container">
        <h1 class="page-title"><strong>Rob&nbsp;Graham</strong> My&nbsp;Resumé</h1>

        <section id="xpand-international" class="placement">
            <hr>
            <h1>
                Xpand International
                <span class="date">{{ '2015-10-01' | date: '%B' }}&nbsp;&ndash;&nbsp;{{ site.time | date: '%B %Y' }}</span>
            </h1>
            <p>
                As a software consultant I have been assisting <a href="http://xpand.international/" target="_blank">Xpand International</a>
                with their technical strategy and have developed a prototype tool stack using <em>Ruby</em>.
            </p>
            <p>
                These tools form the basis for Xpand&rsquo;s data analytics platform and includes a Ruby on Rails <em>API layer</em>,
                a Rails <em>front-end web site</em> that integrates with the API layer and a suite of web <em>page scrapers</em> implemented
                in Ruby that feeds into the API layer.
                The API layer is built upon both <em>PostgreSQL</em> and <em>MongoDB</em> databases.
            </p>
        </section>

        <section id="couplewise" class="placement">
            <hr>
            <h1>
                CoupleWise
                <span class="date">{{ '2016-02-01' | date: '%B' }}&nbsp;&ndash;&nbsp;{{ site.time | date: '%B %Y' }}</span>
            </h1>
            <p>
                An American online marriage counselling organisation who needed to have their aging web site redeveloped
                to target their increasing mobile savvy clientele. I ported their <em>MongoDB</em> database over to
                <em>Active Record</em> and completely rebuilt the application in <em>Rails 4</em>.
            </p>
            <p>
                As their focus is on mobile users there has been heavy emphasis on <em>responsive design</em> and
                <em>PhoneGap</em> technologies to deliver a <em>hybrid application</em>.
            </p>
        </section>

        <section id="Jewellery" class="placement">
            <hr>
            <h1>
                GemZen
                <span class="date">{{ '2007-05-31' | date: '%Y' }}&nbsp;&ndash;&nbsp;{{ site.time | date: '%Y' }}</span>
            </h1>
            <p>
                I currently run a small business under several different international brand names retailing bespoke handmade jewellery.
                Operating from a small factory in China, we have designed, manufactured and sold over 100,000 unique necklaces and bracelets.
            </p>
            <p>
                Using a custom content management system (<abbr title="Content Management System">CMS</abbr>) implemented in
                <em>Ruby on Rails</em> I am able to maintain a vast inventory with minimal human interaction
                and automatically allocate products to various sales channels.
            </p>
        </section>

        <section id="second-magenta" class="placement">
            <hr>
            <h1>
                Second&nbsp;Magenta
                <span class="date">2007&nbsp;&ndash;&nbsp;2015</span>
            </h1>
            <p>
                Since 2007 I have been working as a part-time software consultant for <a href="http://altabyte.github.io/second-magenta/" target="_blank">Second Magenta</a>,
                a company internationally renowned for its expertise in the design optimisation heated windshields
                used in aircraft and high speed trains.
            </p>
            <p>
                I personally develop and support all of Second Magneta&rsquo;s software tool stacks, which are implemented
                in <em>Java</em>, <em>Microsoft C#</em> and <em>Ruby</em>.
            </p>
        </section>

        <section id="coder-dojo" class="placement">
            <hr>
            <h1>
                Coder&nbsp;Dojo
                <span class="date">2013&nbsp;&ndash;&nbsp;{{ site.time | date: '%Y' }}</span>
            </h1>
            <p>
                Following my passion to educate I began teaching web technologies in Belfast&rsquo;s
                <a href="http://www.coderdojobelfast.com/" target="_blank">Coder Dojo</a>. Although I provide an introductory
                tutorial on <a href="http://www.altabyte.com/coderdojo/webdesign/" target="_blank">HTML &amp; CSS</a>,
                I encourage the kids to be creative and go off-script to build their own personalized web sites.
            </p>
        </section>

        <section id="epis" class="placement">
            <hr>
            <h1>
                EPIS&nbsp;Entrepreneur
                <span class="date">2006&nbsp;&ndash;&nbsp;2007</span>
            </h1>
            <p>
                I won a funded 12-month scholarship placement on a prestigious entrepreneurship program
                [<em><abbr title="Edinburgh Pre-incubator Scheme">EPIS</abbr></em>]
                to assess the technical and financial viability of a university PhD commercialization opportunity.
            </p>
            <p>
                Utilizing asynchronous chip design methodologies, this technology addressed significant security issues
                in the <a href="http://www.smartcardalliance.org/smart-cards-faq/" target="_blank">smart card</a> industry
                by protecting the encryption on cards such as those you would typically use for ATM bank transactions.
            </p>
        </section>

        <section id="spiral-gateway" class="placement">
            <hr>
            <h1>
                Spiral&nbsp;Gateway
                <span class="date">{{ '2004-03-16' | date: '%Y' }}&nbsp;&ndash;&nbsp;{{ '2005-11-22' | date: '%Y' }}</span>
            </h1>
            <p>
                Co-founder of <a href="https://beta.companieshouse.gov.uk/company/SC264945/officers" target="_blank">Spiral Gateway</a>,
                a venture capital backed fabless semiconductor chip vendor deploying ultra-low-power high-performance solutions for the
                Digital Signal Processing (<abbr title="Digital Signal Processing">DSP</abbr>) market.
            </p>
            <p>
                As the lead software developer I was responsible for the system architecture and development of the
                company&rsquo;s Electronic Design Automation (<abbr title="Electronic Design Automation">EDA</abbr>) tool suite.
            </p>
            <p>
                Amalgamating the work of several PhD projects I built a prototype tool in <em>Java</em> and <em>C++</em>
                that could reduce high-level digital logic design times by an order of magnitude. This tool incorporated
                <a href="https://en.wikipedia.org/wiki/Evolutionary_algorithm" target="_blank">Evolutionary Algorithms</a>
                to dynamically generate digital circuits.
            </p>
        </section>

        <section id="ip-shells" class="placement">
            <hr>
            <h1>
                IP&nbsp;Shells
                <span class="date">2001&nbsp;&ndash;&nbsp;2004</span>
            </h1>
            <p>
                IP Shells was proof-of-concept project by The University of Edinburgh to develop a <strong>cloud platform</strong>,
                back in the days before <q>the cloud</q> was cool!
            </p>
            <p>
                Here I designed, developed and <a href="https://www.google.com/patents/US20060218512?dq=System+and+method+for+rapid+prototyping+of+ASIC+systems&hl=en&sa=X&ved=0ahUKEwiRqdfgkMnKAhWCDhoKHehYBzcQ6AEIHDAA" target="blank">patented</a>
                a prototype <abbr title="Enterprise Java">J2EE</abbr> solution allowing
                microchip manufacturers to design and test virtual digital circuits using the resources of a remote server farm.
                The server farm hosted both the <abbr title="Computer Aided Design">CAD</abbr> tool suites and the
                <abbr title="Intellectual Property">IP</abbr> Verilog/VHDL code libraries necessary to build and test
                advanced <abbr title="Digital Signal Processing">DSP</abbr> applications.
            </p>
            <p>
                A bespoke Java Swing <abbr title="User Interface">UI</abbr> allowed <abbr title="System on Chip">SoC</abbr> designers to drag and drop
                high-level circuit blocks and perform integration tests, but the source code remained securely protected on the server.
                This novel approach enabled vendors, such as mobile phone manufactures, to validate the functionality of the
                circuit modules, whilst protecting the source code of these modules until a purchasing decision was made.
            </p>
            <p>
                This revolutionary <abbr title="Electronic Design Automation">EDA</abbr> deployment solution
                won the backing of a
                <a href="https://www.gov.uk/guidance/innovation-get-details-about-innovate-uk-funding-competitions#smart" target="_blank">SMART</a>
                Award and a <a href="http://www.scotsman.com/business/companies/tech/chip-grant-for-ip-shells-1-1291152" target="_blank">£500,000 grant</a>
                from the Engineering and Physical Sciences Research Council.

            </p>
        </section>

        <section id="researcher" class="placement">
            <hr>
            <h1>
                Research&nbsp;Associate
                <span class="date">2000&nbsp;&ndash;&nbsp;2001</span>
            </h1>
            <p>
                After graduating, I was offered a research position at
                <a href="https://www.eng.ed.ac.uk/research/institutes/imns" title="Institute for Integrated Micro and Nano Systems">IMNS</a>
                in The University of Edinburgh. In this role I augmented an <em>artificial intelligence</em> (<abbr title="Artificial Intelligence">AI</abbr>) application using
                <a href="https://en.wikipedia.org/wiki/Heuristic_(computer_science)" target="_blank">heuristics</a> and
                <a href="http://uk.mathworks.com/discovery/genetic-algorithm.html">Genetic Algorithms</a> to enhance automated testing of
                <abbr title="Printed Circuit Boards">PCB</abbr>s using <a href="https://en.wikipedia.org/wiki/C_(programming_language)" title="C Programming Language">C</a>
                and <a href="https://common-lisp.net/" title="Common Lisp">Lisp</a>. The resulting work was
                <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?arnumber=937972" title="Rule evolution in order based diagnostic systems" target="_blank">published</a>
                in Proceedings Third NASA/DoD Workshop on Evolvable Hardware.
            </p>
        </section>

        <section id="education">
            <hr>
            <h1>Education</h1>
            <details>
                <summary>Masters Degree in Electronic &amp; Software Engineering</summary>
                <p>2005 &ndash; The University of Edinburgh &ndash; <a href="{{ site.baseurl }}/J2EE-client-server-platform-delivering-integrated-IP-and-EDA-solutions-for-power-and-performance-critical-digital-systems.pdf" title="J2EE client-server platform delivering integrated IP and EDA solutions for power and performance critical digital systems" target="_blank">Thesis</a></p>
            </details>
            <details>
                <summary>Degree in Electrical &amp; Electronic Engineering</summary>
                <p> 2000 &ndash; The University of Edinburgh</p>
            </details>
            <details>
                <summary>Diploma in Electrical &amp; Mechanical Engineering</summary>
                <p>1995 &ndash; Northern Regional College</p>
            </details>
        </section>
    </div>
</div>

{% include footer.html %}
</body>
</html>
